<h2>About</h2>

<h2>Location</h2>
<p>We are located near City Park.</p>

<h2>Follow us!</h2>
<a href="#"><i class="fa fa-facebook fa-3x"></i></a>
<a href="#"><i class="fa fa-twitter fa-3x"></i></a>
<a href="#"><i class="fa fa-github fa-3x"></i></a>
<a href="#"><i class="fa fa-rss fa-3x"></i></a>
<a href="#"><i class="fa fa-instagram fa-3x"></i></a>