</div>
<div class="jumbotron">
  <h1>Dog Daycare</h1>
  <h3>We care for your dog as if they were our own.</h3>
  <p><%= link_to "Learn more", pages_about_url, class: "btn btn-success btn-lg", role: "button" %>
  </p>
</div>